<!-- 医院信息.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医院信息</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>医院信息</h1>
        <p>欢迎来到我们的医院！以下是我们的详细信息：</p>
        <ul>
            <li><strong>医院名称:</strong> 666医院</li>
            <li><strong>地址:</strong> 滨文路666号</li>
            <li><strong>联系电话:</strong> 021-12345678</li>
            <li><strong>工作时间:</strong> 8:00 - 17:00（周一至周五）</li>
            <li><strong>官方网站:</strong> <a href="http://www.xyzhospital.com">www.666.com</a></li>
        </ul>
        <p>如果您有任何问题或需要帮助，请随时联系我们。</p>
    </div>
</body>
</html>